# Maven target folder
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Eclipse
.metadata
.classpath
.project
.settings/
*.launch
*.sublime-project

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# OS specific files
Thumbs.db
desktop.ini
.DS_Store

# Log files
*.log

# Temporary files
*.tmp
*.bak
